body {
    --color-primary: #5199E0;
    --color-primary-light: #00CAED;
    --color-primary-dark: #15283B;
    --color-secondary: #437FBA;
    --color-tertiary: #437FBA;
    --color-neutral: #2C537A;
    --color-white: #FFFFFF;

    --text-color-primary: #000000;

    --color-error-title: #F51100;
    --color-error-message: #B50C00;
}