html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
  row-gap: 15px;

  min-height: 100vh;
  margin: 0px;

  color: var(--text-color-primary);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
}