body {
  --menu__button__text-color: var(--text-color-primary);
  --menu__button__border-color: var(--color-primary-dark);
  --menu__button__background-color: var(--color-primary-light);
}

nav {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background-color: var(--color-primary);
}
nav > ul.menu,
nav > ul.menu > li > ul.submenu {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}
nav > ul.menu > li,
nav > ul.menu > li > ul.submenu > li {
  background-color: var(--color-primary);
  list-style-type: none;
  height: 2.5em;
}
nav > ul.menu > li a,
nav > ul.menu > li > ul.submenu > li a {
  transition: line-height 300ms linear, font-size 300ms linear;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 2.25em;
  color: var(--text-color-primary);
  text-align: center;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
nav > ul.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}
nav > ul.menu > li {
  flex: auto;
}
nav > ul.menu > li > a:hover {
  font-size: 1.5em;
  line-height: 1.25em;
}
nav > ul.menu > li:hover > ul.submenu {
  display: flex;
  height: 100%;
  opacity: 1;
  transform: scaleY(1);
  flex-direction: column;
  align-items: stretch;
  transition: transform 600ms, opacity 600ms;
}
nav > ul.menu > li > ul.submenu {
  height: 0;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: stretch;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 600ms, opacity 600ms;
}
nav > ul.menu > li > ul.submenu > li > a::before,
nav > ul.menu > li > ul.submenu > li > a::after {
  transition: transform 350ms;
  box-sizing: border-box;
  transform-origin: top;
  transform: scaleY(0);
  position: absolute;
  display: block;
  content: "";
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 5%;
  top: 0px;
}
nav > ul.menu > li > ul.submenu > li a::before {
  left: 0px;
  background: linear-gradient(to right, var(--color-white), var(--color-primary));
}
nav > ul.menu > li > ul.submenu > li a::after {
  right: 0px;
  background: linear-gradient(to left, var(--color-white), var(--color-primary));
}
nav > ul.menu > li > ul.submenu > li:hover > a::before,
nav > ul.menu > li > ul.submenu > li:hover > a::after {
  transform: scaleY(1);
}

@media screen and (min-width: 1256px) {
  #hambuger, #hamburger-icon, #hamburger-checkbox {
    display: none;
  }

  nav > ul.menu {
    position: fixed;
    top: 0px;
  }
}
@media screen and (min-width: 840px) and (max-width: 1256px) {
  #hambuger, #hamburger-icon, #hamburger-checkbox {
    display: none;
  }

  #homepage {
    display: none;
  }

  nav > ul.menu {
    position: fixed;
    top: 0px;
  }
}
@media screen and (max-width: 840px) {
  #homepage, #hamburger-checkbox {
    display: none;
  }

  #hambuger, #hamburger-icon {
    background-color: var(--color-primary);
    display: block;
  }

  #hamburger-icon {
    padding: 5px;
    height: 100%;
    box-sizing: border-box;
  }

  nav > input[type=checkbox]#hamburger-checkbox:checked + ul.menu {
    flex-direction: column;
    transform: scaleX(1);
    visibility: visible;
    width: 100%;
    height: 100%;
  }
  nav > input[type=checkbox]#hamburger-checkbox:checked + ul.menu > li {
    height: 100%;
  }
  nav > ul.menu {
    transition: transform 300ms ease-out;
    transform-origin: left;
    transform: scaleX(0);
    visibility: hidden;
    display: flex;
    width: 0%;
    height: 0px;
  }
  nav > ul.menu > li > ul.submenu {
    transition: none;
  }
}

/*# sourceMappingURL=main-menu.css.map */
