#login-container {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  flex-direction: row;

  .card {
    width: 50%;
    background-color: var(--color-primary);
  }

  label, .form-text {
    color: var(--text-color-primary);
  }
}