@use 'home-grid-large';
@use 'home-grid-medium';
@use 'home-grid-small';

section#presentation {
    grid-area: gr-presentation;
}

section#table-of-contents {
    grid-area: gr-toc;
}

section#events-calendar {
    grid-area: gr-events-calendar;
}

section#announcements {
    grid-area: gr-announcements;
}

section#online-users {
    grid-area: gr-online-users;
}

section#user-stats {
    grid-area: gr-user-stats;
}

section#site-and-server {
    grid-area: gr-site-and-server;
}

section#motivation {
    grid-area: gr-motivation;
}

section#tech-terms {
    grid-area: gr-tech-terms;
}

section#offers {
    grid-area: gr-offers;
}

section#faq {
    grid-area: gr-faq;
}

section#gallery {
    grid-area: gr-gallery;
}

.container {
    margin-left: 1em;
    margin-right: 1em;
}