@use 'sass:map';
@use '../../../common/variables' as variables;

@media screen and (max-width: map.get(variables.$screen-sizes, "small-max")) {
    div.container {
        display: block;
    }

    div.container > section {
        margin: 10px;
    }

    body {
        animation: none !important;
        transition: none !important;
    }
}