html {
    font-size: 16px;
}

body {
    --menu__button__text-color: var(--text-color-primary);
    --menu__button__border-color: var(--color-primary-dark);
    --menu__button__background-color: var(--color-primary-light);
}

div > section {
    border: 2px solid var(--color-primary-dark);
    border-radius: 20px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

    background-color: var(--color-primary)
}