@use 'sass:map';
@use 'sass:math';
@use '../../common/variables.scss' as variables;

.static-gallery {
    text-align: center;
    grid-gap: 0.5em;
    display: grid;

    padding: 0px;
    margin: 0px;
    width: 100%;

    @media screen and (min-width: map.get(variables.$screen-sizes, "large-min")) {
        grid-template-columns: repeat(3, auto);

        @for $x from 0 to 12 {
            .static-gallery-item:nth-child(#{$x + 1}) {
                grid-area:
                    #{1 + math.floor(math.div($x * 2, 3))} /
                    #{1 + math.floor($x * 2 % 3)} /
                    #{1 + math.floor(math.div($x * 2, 3)) + 1} /
                    #{1 + math.floor($x * 2 % 3) + 1}
            }
        }
    }

    @media screen
        and (min-width: map.get(variables.$screen-sizes, "medium-min"))
        and (max-width: map.get(variables.$screen-sizes, "medium-max")) {
            grid-template-columns: repeat(2, auto);
    }

    @media screen
        and (max-width: map.get(variables.$screen-sizes, "small-max")) {
            grid-template-columns: repeat(1, auto);
    }

    .static-gallery-item {
        $transition-time: 1100ms;

        figure {
            margin: 0px;

            > figcaption {
                transition: transform $transition-time;
            }

            img {
                transition: filter $transition-time;
            }

            &:hover {
                figcaption {
                    transform: scale(1.25);
                }

                img {
                    filter: contrast(200%);
                }
            }
        }

        .credits {
            font-size: 0.75em;
            margin: 0px;
        }
    }
}