<% if (!locals.user) { %>
<div id="login-container">
  <div class="card">
    <div class="card-body">
      <form
        id="login-form"
        method="post"
        action="/account/login">

      <div class="mb-3 row d-flex">
        <label class="col-form-label col-lg-3 col-md-5 col-sm-6" for="in-username">
          Username:
        </label>
        <div class="col-lg-7 col-md-6 col-sm-6 flex-fill">
          <input
            type="text"
            name="username"
            id="in-username"
            class="form-control"
            required
            pattern="[A-Za-z0-9\-]{3,}">
        </div>
      </div>

        <div class="mb-3 row d-flex">
          <label class="col-form-label col-lg-3 col-md-5 col-sm-6" for="in-password">
            Password:
          </label>
          <div class="col-lg-7 col-md-6 col-sm-6 flex-fill">
            <input
            id="in-password"
            type="password"
            required
            class="form-control"
            name="password"
            pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d.*\d)(?=.*\.).*"
            required>
          </div>
        </div>

        <div class="form-text mb-3">
          The password must contain 1 lowercase letter, 1 uppercase
          letter, at least two digits and a dot.
        </div>

        <div class="row d-flex">
          <button
            class="btn btn-block btn-primary col-5 me-1 flex-fill"
            id="in-submit"
            type="submit">
            Login
          </button>
          <a
            href="/account/register"
            class="btn btn-secondary col-5 ms-1 flex-fill">
            Register
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>