@use 'home-menu-common';
$hamburger-show-animation-duration: 300ms;

@media only screen and (max-width: 720px) {
    #homepage, #hamburger-checkbox {
        display:none;
    }

    #hambuger, #hamburger-icon {
        background-color: var(--color-primary);
        display: block;
    }

    #hamburger-icon {
        padding: 5px;
        height: 100%;
        box-sizing: border-box;
    }

    nav {
        > input[type="checkbox"]#hamburger-checkbox:checked + ul.menu {
            flex-direction: column;
            transform: scaleX(1);

            > li {
                height: 100%;
            }
        }

        > ul.menu {
            transition: transform $hamburger-show-animation-duration ease-out;
            transform-origin: left;
            transform: scaleX(0);
            display: block;

            > li {
                > ul.submenu {
                    transition: none;
                }
            }
        }
    }
}