$color-menu__text: black;
$color-menu__button--background: var(--color-primary);

.menu {
    ul {
        list-style-type: none;

        li {
            background-color: $color-menu__button--background;
            border: 2px solid var(--color-primary-dark);
            box-sizing: border-box;
            text-align: center;
            margin: 1px;
            width: 164px;

            ul li {
                opacity: 0.4;
            }

            &:hover {
                opacity: 1;
            }

            a {
                text-decoration: none;
                color: $color-menu__text;
                box-sizing: border-box;
                font-weight: bold;
                display: block;
                width: 100%;
            }
        }
    }
}