footer {
    background-color: var(--color-primary);
    color: var(--text-color-primary);

    position: relative;
    margin-top: auto;
    padding: 0px;
    width: 100%;

    address {
        margin: 0px;
    }

    > *:not(a) {
        text-align: center;
    }

    > small {
        display: block;

        &:first-of-type {
            margin-top: 10px;
        }
    }
}
