<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include Common Head Fragment -->
  <%- include('../../../fragments/head.ejs') %>

  <!-- Page-Specific Information -->
  <meta name="keywords" content="confirm, activate, email, account, tokens" />
  <meta name="description" content="Confirm your account." />
  <title>Andrion - Confirmation</title>
</head>

<body>
  <%- include('../../../fragments/header.ejs', {productTypes}) %>

    <main>
      <div>
        <h1>User Email Confirmation</h1>
        <br>
        <p>Your account has been activated successfully.</p>
      </div>
    </main>

    <%- include('../../../fragments/footer.ejs') %>
</body>

</html>