#container {
  width: 75%;
  height: 100%;

  display: flex;
  align-items: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 25px;

  .card {
    background-color: var(--color-primary);
  }

  * {
    color: var(--text-color-primary);
  }

  #theme-list {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    width: 100%;

    .card-body {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .theme-item {
        transition: transform 120ms linear;
        text-align: center;

        width: 25%;
        height: 12.5%;

        background-color: var(--color-theme-select-link);
        border: solid 5px var(--color-theme-select-border);
        border-radius: 25px;

        &:hover {
          cursor: pointer;
          transform: scale(1.25);
          background-color: var(--color-theme-select-hover);
        }

        >p {
          color: var(--color-theme-select-icon);
          margin-bottom: 15px;
          margin-top: 15px;
        }
      }

      input {
        display: none;
      }
    }
  }

  #recent-pages-container {
    display: none;

    a {
      background-color: var(--color-recent-pages-item-bg);
      color: var(--color-recent-pages-item-text);
    }
  }
}