#theme-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .theme-item {
    transition: transform 120ms linear;
    text-align: center;

    $theme-button-zie: 54px;
    width: $theme-button-zie;
    height: $theme-button-zie;

    background-color: var(--color-theme-select-link);
    border: solid 3px var(--color-theme-select-border);
    border-radius: 25px;

    &:hover {
      cursor: pointer;
      transform: scale(1.25);
      background-color: var(--color-theme-select-hover);
    }

    >p {
      color: var(--color-theme-select-icon);
      margin-bottom: 15px;
      margin-top: 15px;
    }
  }

  input {
    display: none;
  }
}