hr.separator {
    $separator-width: 50%;
    $separator-border-size: 0.25em;
    $separator-border-radius: 0.25em;
    $separator-color: var(--color-primary);
    $separator-gradient: linear-gradient(
        90deg,
        $separator-color 0%,
        $separator-color 40%,
        transparent 41%,
        transparent 59%,
        $separator-color 60%,
        $separator-color 100%
    );

    background-image: $separator-gradient;
    border-radius: $separator-border-radius;
    border: none;

    width: $separator-width;
    padding: 2px;
    height: 0.5em;
    margin: auto;

    position: relative;
    display: block;

    &::after {
        color: var(--text-color-primary);
        font-weight: bold;
        font-size: 2.25em;
        content: "*";

        position: absolute;
        z-index: 1;

        display: block;
        padding: 0px;
        margin: 0px;
        width: 100%;
        top: -0.25em;

        visibility: visible;
        opacity: 1;
    }
}