<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include Common Head Fragment -->
    <%- include('../../../fragments/head.ejs') %>

    <!-- Page-Specific Information -->
    <meta name="keywords" content="shopping, buy phones, buy tablets, phone,
    tablet, catalog, filtering, searching, category, price, info"/>
    <meta name="description" content="Browse our phones and tablets at premium prices."/>
    <title>Andrion - Product</title>
</head>

<body>
    <%- include('../../../fragments/header.ejs') %>

    <main>
        cool
    </main>

    <%- include('../../../fragments/footer.ejs') %>
</body>

</html>