.products .products-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: stretch;
  column-gap: 10px;
}
.products .products-container .product-filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 20px;
  padding: 10px;
  margin: 0px 10px 0px 0px;
}
.products .products-container .product-filters .product-filter {
  border-radius: 10px;
  color: var(--text-color-primary);
  border: 3px dotted var(--color-filter-border);
  width: 100%;
  padding: 5px;
}
.products .products-container .product-content {
  display: flex;
  row-gap: 10px;
  width: 100%;
  flex-flow: column wrap;
}
.products .products-container .product-content .product-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 100px;
  border: 5px solid var(--color-filter-topbar-border);
  background-color: var(--color-filter-topbar-bg);
}
.products .products-container .product-content .product-actions > * {
  transition: all 200ms linear;
  border: 5px solid var(--color-filter-topbar-button-border);
  background-color: var(--color-filter-topbar-button-bg);
  color: var(--color-filter-topbar-button-text);
  border-radius: 25px;
  font-size: 1.25em;
  padding: 15px;
}
.products .products-container .product-content .product-actions > * [class*=fa-chevron] {
  transition: all 200ms linear;
  color: var(--color-filter-topbar-button-chevron);
}
.products .products-container .product-content .product-actions > *:hover {
  background-color: var(--color-filter-topbar-button-bg-hover);
  color: var(--color-filter-topbar-button-text-hover);
  transform: scale(1.25);
  cursor: pointer;
}
.products .products-container .product-content .product-actions > *:hover [class*=fa-chevron] {
  color: var(--color-filter-topbar-button-chevron-hover);
}
.products .products-container .product-content .product-actions > *:hover:active {
  background-color: var(--color-filter-topbar-button-bg-active);
}
.products .products-container .product-content .products-catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 15px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-items: stretch;
  align-content: space-evenly;
}
.products .products-container .product-content .products-catalog .product-item {
  background-color: var(--color-primary-light);
  border-radius: 35px;
  border: 15px solid var(--color-primary-dark);
  box-sizing: border-box;
  width: 24%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex-shrink: 1;
  align-items: stretch;
}
.products .products-container .product-content .products-catalog .product-item .name {
  text-align: center;
  width: 100%;
  margin: 0px;
}
.products .products-container .product-content .products-catalog .product-item .name > a {
  color: var(--color-black);
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  height: 100%;
  width: 100%;
}
.products .products-container .product-content .products-catalog .product-item .product-info {
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}
.products .products-container .product-content .products-catalog .product-item .product-info .fas {
  font-weight: bold;
  font-size: 1.25em;
}
.products .products-container .product-content .products-catalog .product-item .product-info .price {
  color: var(--color-attention);
  font-weight: bold;
  font-size: 2em;
}
.products .products-container .product-content .products-catalog .product-item .product-info .price .price-value-decim {
  font-size: 0.5em;
}
.products .products-container .product-content .products-catalog .product-item .product-info .technologies > ul.specs {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  list-style-type: none;
}
.products .products-container .product-content .products-catalog .product-item .product-info .technologies > ul.specs > li.spec > span.spec-value {
  text-decoration: none;
  color: var(--color-tag-txt);
  padding: 0px 15px 0px 15px;
  background-color: var(--color-tag-bg);
  border: 2px solid var(--color-tag-border);
  border-radius: 20px;
}
.products .products-container .product-content .products-catalog .product-item .thumbnail {
  border-bottom: 15px solid var(--color-primary-dark);
  margin: 0px;
  height: 400px;
  width: 100%;
}
.products .products-container .product-content .products-catalog .product-item .thumbnail a {
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.products .products-container .product-content .products-catalog .product-item .thumbnail .thumbnail-image {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.products .products-container .product-content .products-catalog .product-item .select-cart {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
.products .products-container .product-content .products-catalog .product-item .select-cart > span {
  border: 5px solid var(--color-cart-add-unchecked);
  border-radius: 12px;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
}
.products .products-container .product-content .products-catalog .product-item .select-cart > span:not(:checked) {
  background-color: var(--color-cart-add-unchecked);
  border-color: var(--color-cart-add-unchecked);
}
.products .products-container .product-content .products-catalog .product-item .select-cart input {
  display: none;
}

/*# sourceMappingURL=products.css.map */
