<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include Common Head Fragment -->
    <%- include('../../../fragments/head.ejs') %>

    <!-- Page-Specific Information -->
    <meta
        name="keywords"
        content="gallery, presentation, product information, phones, tablets, tablets,
        showcases, andrion, animated, transition"/>
    <meta
        name="description"
        content="Showing you the best products animated showcase."/>
    <title>Andrion - Dynamic Gallery</title>

    <!-- CSS Styling -->
    <link rel="stylesheet" type="text/css" href="/gallery/dynamic-gallery.css" />
</head>

<body>
    <%- include('../../../fragments/header.ejs', {productTypes}) %>

    <main>
        <%- include('../../../fragments/gallery/dynamic-gallery.ejs') %>
    </main>

    <%- include('../../../fragments/footer.ejs') %>
</body>

</html>