$submenu-hover-animation-duration: 350ms;
$text-growth-animation-duration: 300ms;
$dropdown-animation-duration: 600ms;

body {
    --menu__button__text-color: var(--text-color-primary);
    --menu__button__border-color: var(--color-primary-dark);
    --menu__button__background-color: var(--color-primary-light);
}

nav {
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
    background-color: transparent;
    z-index: 1000;

    > ul.menu, > ul.menu > li > ul.submenu {
        background-color: transparent;
        border: none;
        height: 100%;
        padding: 0px;
        margin: 0px;

        > li {
            background-color: var(--color-primary);
            list-style-type: none;
            height: 2.5em;

            a {
                transition: line-height $text-growth-animation-duration linear,
                            font-size $text-growth-animation-duration linear;
                padding: 5px;
                font-weight: bold;
                text-decoration: none;
                box-sizing: border-box;
                line-height: 2.25em;
                color: var(--text-color-primary);
                text-align: center;
                position: relative;
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }

    > ul.menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;

        > li {
            flex: auto;

            > a:hover {
                font-size: 1.5em;
                line-height: 1.25em;
            }

            &:hover > ul.submenu {
                display: flex;
                height: 100%;
                opacity: 1;
                transform: scaleY(1);
                flex-direction: column;
                align-items: stretch;
                transition: transform $dropdown-animation-duration,
                            opacity $dropdown-animation-duration;
            }

            > ul.submenu {
                height: 0;
                display: flex;
                opacity: 0;
                flex-direction: column;
                align-items: stretch;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform $dropdown-animation-duration,
                            opacity $dropdown-animation-duration;

                > li {
                    > a::before, > a::after {
                        transition: transform $submenu-hover-animation-duration;
                        box-sizing: border-box;
                        transform-origin: top;
                        transform: scaleY(0);
                        position: absolute;
                        display: block;
                        content: "";
                        padding: 0px;
                        margin: 0px;
                        height: 100%;
                        width: 5%;
                        top: 0px;
                    }

                    a::before {
                        left: 0px;
                        background: linear-gradient(to right, var(--color-white), var(--color-primary));
                    }

                    a::after {
                        right: 0px;
                        background: linear-gradient(to left, var(--color-white), var(--color-primary));
                    }

                    &:hover {
                        > a::before, > a::after {
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }
    }
}