<footer>
    <address>
        You can call us at <a href="tel:+1234567890">(123) 456-7890</a>.
        <br/>
        You can get in touch with us at this e-mail:
        <a href="mailto:andrion.support@gmail.com">
            andrion.support@gmail.com
        </a>
        <br/>
        Do you want to come in person? You can visit us here:
        <br/>
        Drupee, Krustberg,
        <br/>
        Str. 78, No. 47
        <br/>
        On Milghton Pearson
    </address>
    <a id="top-link" href="#top" title="Go Back Up">
        <div id="triangle"></div>
    </a>
    <small>Copyright &copy; 2021 Andrion. All Rights Reserved.</small>
    <small>
        <time datetime="2021-10-06T22:00:00.000+03:00">
            Created on the 6<sup>th</sup> of October 2021.
        </time>
    </small>
</footer>