<header>
    <a id="top"></a>
    <h1 id="banner">
        Andrion -- Banner
    </h1>
    <div id="top-container">
        <h1 id="title">
            Andrion -- Phones & Tablets
        </h1>
        <nav>
            <label id="hamburger" for="hamburger-checkbox">
                <span id="hamburger-icon" class="fas fa-bars fa-2x">
                </span>
            </label>
            <input id="hamburger-checkbox" type="checkbox">
            <ul class="menu">
                <li>
                    <a href="/">
                        <span class="fas fa-house-user"></span>
                        <span id="homepage">Homepage</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/#presentation">Presentation</a></li>
                        <li><a href="/#table-of-contents">Table of Contents</a></li>
                        <li><a href="/#events-calendar">Events Calendar</a></li>
                        <li><a href="/#announcements">Announcements</a></li>
                        <li><a href="/#online-users">Online Users</a></li>
                        <li><a href="/#user-stats">User Data and Stats</a></li>
                        <li><a href="/#site-and-server">Website &amp; Server</a></li>
                        <li><a href="/#motivation">Motivation</a></li>
                        <li><a href="/#tech-terms">Technical Terms</a></li>
                        <li><a href="/#offers">Offers</a></li>
                        <li><a href="/#faq"><abbr title="Frequently Asked Questions">FAQ</abbr></a></li>
                        <li><a href="/#gallery">Gallery</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/gallery">Gallery</a>
                    <ul class="submenu">
                        <li><a href="/gallery/static">Static</a></li>
                        <li><a href="/gallery/dynamic">Dynamic</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/products">Products</a>
                    <ul class="submenu">
                        <li><a href="/products">All</a></li>
                        <% for (const category of locals.productTypes) { %>
                            <li>
                                <a href="/products?type=<%-category%>">
                                    <%- category[0].toUpperCase() + category.slice(1).toLowerCase() %>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </li>

                <li>
                    <a href="/latest-news">News</a>
                </li>

                <li>
                    <a href="/register">Register</a>
                    <ul class="submenu">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/create">Register</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/account">Account</a>
                </li>

                <li>
                    <a href="/orders">Orders</a>
                </li>

                <li>
                    <a href="/contact">Contact</a>
                </li>

                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="watermark">
        <p>Ionescu</p>
        <p>Andrei</p>
    </div>
</header>